.projectsPanel {
  width: 70vw;
  margin-right: 100px;
  margin-top: 0px !important;
  height: 80vh;
  font-family: var(--fontTwo);
  display: flex;
  align-items: center;
  overflow-x: scroll; 
  padding: 0 20px;
}

/* width */
.projectsPanel::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.projectsPanel::-webkit-scrollbar-track {
  background-color: grey;
  width: 3px;
}

/* Handle */
.projectsPanel::-webkit-scrollbar-thumb {
  background: var(--green);
  width: 1px
}

/* Handle on hover */
.projectsPanel::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}




@media only screen and (max-width: 1350px) {
  .projectsPanel {
    margin-top: 30px;
    margin-right: 50px;
  }

}

@media only screen and (max-width: 1024px) {
  .projectsPanel {
    width: 80vw;
    margin-right: 0px;
    /* align-items: center; */
    margin-top: 20px;
  }
  .projectsPanel::-webkit-scrollbar {
    height: 5px;
  }

}

@media only screen and (max-width: 500px) {
  .projectsPanel {
    height: 60vh;
  }
}