.skillsPanel {
  width: 70vw;
  margin-right: 100px;
  margin-top: 50px;
  height: 70vh;
  font-family: var(--fontTwo);
  display: flex;
  align-items: center;
  overflow-x: scroll; 
  padding: 0 20px;
}


/* width */
.skillsPanel::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.skillsPanel::-webkit-scrollbar-track {
  background-color: grey;
  width: 3px;
}

/* Handle */
.skillsPanel::-webkit-scrollbar-thumb {
  background: var(--green);
  width: 1px
}

/* Handle on hover */
.skillsPanel::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}

@media only screen and (max-width: 900px) {
  .skillsPanel {
    width: 80vw;
    margin: 0 auto;
    margin-top: 30px !important;
  }
}


@media only screen and (max-width: 500px) {
  .skillsPanel {
    width: 80vw;
    height: 40vh;
    margin-top: 60px;
  }
}