:root {
  --green: #63D187;
  --blue: #70C1F9;
  --grey: #181818;
  --textDuration: 1.5;
  --title: 2em;
  --regularText: 16px;
  --heroText: 1.5em;
  --mutedText: 14px;
  --fontOne: 'Playfair Display', serif;
  --fontTwo: 'Roboto', sans-serif;
}

/* @media screen only and (max-width: 100) */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.container {
  width: 80vw;
  margin: 0 auto;
  position: relative;
}

/* 1024 vw */
@media only screen and (max-width: 500px) {
  .container {
    width: 90vw;
  }
  .App {
    height: 90vh;
  }
}

